.ManageIncomeFeature {
display: flex;
  flex-direction: column;
  align-items: stretch;

  max-width: 300px;
  margin: 0 auto;        // centra tudo horizontalmente
  padding: 2rem 1.25rem; // margem global interna

  gap: 10px;
}